* {
    box-sizing: border-box;   
}

html {
    /* DISABLE SCROLLING */
    overflow-y: hidden!important;
}

#appBlock {
    height: 100vh;
    position: relative;
}

#appBlock #menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.menuBtn {
    margin-bottom: 10px;
}

.menuBtn #mainMenu-registerBtn {
    color: #337ab7;
}

.mainMenu-input {
    padding-left: 10px;
    padding-right: 10px;
}

.menuContainer {
    float: none;
    margin: 0 auto;
    max-width: 600px;
    min-height: 350px;
}

.signOutBtn {
    float: left;
    margin: 0 auto;
    top: 5%;
    max-width: 600px;
}

.signOutBtn #logoutBtn {
    width: 50%;
}

#mainLogo img {
    width: 25%;
    max-width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#grids img {
    width: 50%;
    display: block;
    margin: 20px auto;
}

#loginError, #registerError {
    width: 100%;
    color: red;
}

#divider {
    border-top:2px solid #d9dadc;                /* Added divider and divider text */  
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

#divider .divider-title {
    background-color: #fff;                      /* this style is not implemented not clearing the divider line*/
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}

#googleButton img {
    display: block;                             /* added google auth image this isnt responsive  */
    margin: auto;
    padding: 5px;
    cursor: pointer;
}

#forgotPassLink {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #mainLogo img {
        width: 50%;
    }

    #mainMenu-navButtons button {
        width: 48%;
        display: inline-block;
    }

    #mainMenu-navButtons #controls-backBtn {
        width: 100%;
        display: inline-block;
    }

    #mainMenu-navButtons #mainMenu-backBtn {
        float: left;
        margin-right: 4%;
    }

    .btn-block+.btn-block {
        margin-top: auto;
    }

    .signOutBtn #logoutBtn {
        top: 20%;
        width: 25%;
    }

    .menuContainer {
        min-height: 300px;
    }

}